@charset "UTF-8";

@font-face {
  font-family: "srburns";
  src:url("../fonts/srburns.eot");
  src:url("../fonts/srburns.eot?#iefix") format("embedded-opentype"),
    url("../fonts/srburns.woff") format("woff"),
    url("../fonts/srburns.ttf") format("truetype"),
    url("../fonts/srburns.svg#srburns") format("svg");
  font-weight: normal;
  font-style: normal;
}